@model IEnumerable<APPTienda.Models.Categoria>
@{
    ViewData["Title"] = "Categorías de productos de la tienda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    @if (Model.Count() > 0)
    {
        <table class = "table table-striped border">

            <tr>
                <th>Nombre de Categoría</th>
                <th></th>
             </tr>
             @foreach(var categoria in Model)
            {
                <tr>
                    <td>@categoria.Nombre</td>
                    <td>
                        <a class="btn btn-primary txt-white" asp-action="Editar" asp-route-Id ="@categoria.Id_Categoria">Editar</a>
                        <a class="btn btn-primary txt-white" asp-action="Borrar" asp-route-Id="@categoria.Id_Categoria">Borrar</a>
                    </td>
                </tr>
            }

        </table>
    }
    else
    {
        <p>No Hay categorías</p>
    }
</div>